/**
 * File: colors.scss
 * Description: Defines the mixins for the application
 * Dependencies: none
 *
 * @package delta
 */

/* === Application Colors === */
$color__black: #2B303A;
$color__white: #D3D5D4;
