/**
 * File: colors.scss
 * Description: Defines the mixins for the application
 * Dependencies: none
 *
 * @package delta
 */

/* === Application Colors === */
$color__black: #2B303A;
$color__grey: #868483;
$color__grey--light: #C0C0C0;
$color__white: #D3D5D4;
$color__red: #7A5C61;
$color__brown: #8A817C;
$color__blue: #628395;
