/**
 * File: home.scss
 * Description: Styles for the homepage specifically
 * Dependencies: None
 *
 * @package splash
 */

/* === Homepage Background === */
html {
  height: 100%;
  width: 100%;
}


/* === Text Content Styling === */
.page.home {
  align-items: center;
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;

  background-attachment: fixed;
  background-color: $color__black;
  background-position: center;
  background-repeat: no-repeat;
  @include vendor-prefix('background-size', 'cover');

  color: $color__white;

  .page__content{ 
    width: auto;
    padding: 1rem;

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .content__header {
    float: none;
    width: auto;

    opacity: 0;

    font-size: 6rem;
    font-weight: bold;

    animation-delay: 0.5s;

    &.animationComplete {
      opacity: 1;
    }
    
    @media screen and (max-width: 600px) {
      font-size: 3.5rem;
    }
  }

  .content__text {
    opacity: 0;

    font-size: 1.5rem;
    font-style: italic;

    &.animationComplete {
      opacity: 1;
    }
  }
}
